body {
  font-family: 'Roboto', sans-serif; 
  background-color: #e9f7fc; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  width: 350px;
  border: 1px solid #d1e7ef; 
}

h1 {
  color: #2c3e50; 
  margin-bottom: 20px;
  font-weight: 700;
}

input {
  padding: 10px;
  border: 1px solid #d1e7ef; 
  border-radius: 5px;
  width: 80%;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: #34495e; 
  background-color: #f8fcfe; 
}

button {
  background-color: #3498db; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #2980b9; 
}

.weather-details {
  text-align: left;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #34495e; /* Consistent darker text for readability */
}

.weather-details img {
  display: block;
  margin: 0 auto;
}

p {
  margin: 5px 0;
}
